<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    </ion-buttons>
   
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>
		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
  </ion-header>

<ion-content>

  <div class="app-body" style="margin-top: 0px;">
    <div class="exam_type">
      <div class="select_exam">
          <h3>Select Question Number</h3>
      </div>
      <div class="select_exam_type number">
           <select name="" id="">
               <option value="#">10</option>
               <option value="#">20</option>
               <option value="#">30</option>
               <option value="#">40</option>
               <option value="#">50</option>
           </select>
      </div>
      <div class="exam_tite_name">
          <h4>Exam Name</h4>
          <div class="exam_name_input">
              <input type="text">
          </div>
      </div>
      
   <div class="sumit_button">
       <button type="submit" class="a_btn">Generate Exam</button>
   </div>
  </div>
</div>

    

</ion-content>
