<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    </ion-buttons>
   
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>
		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
  </ion-header>

<ion-content>

   

  <div class="app-body" style="margin-top: 0px;">
    <div class="sub-categories-header exam">
      <ul>
        <li>Exam Name </li>
        <li>02:59:59</li>
      </ul>
    </div>
    <div class="exam_question_sec">
      Questions 1 of 200
    </div>
    <div class="exam_question_title">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
      unchanged.</p>
    </div>
    <div>
      <ul class="sub-category-items exam_sub_category_items">
        <li>
          <div class="sub-category-item-head">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-success active">T</button>
              <button type="button" class="btn btn-outline-danger">F</button>
              </div>
              <span class="title_text">Lorem Ipsum is simply</span>
          </div>
        </li>
        <li>
          <div class="sub-category-item-head">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-success">T</button>
              <button type="button" class="btn btn-outline-danger">F</button>
              </div>
            <span class="title_text">Lorem Ipsum</span>
          </div>
        </li>
        <li>
          <div class="sub-category-item-head">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-success">T</button>
              <button type="button" class="btn btn-outline-danger">F</button>
              </div>
            <span class="title_text">Lorem </span>
          </div>
        </li>
        <li>
          <div class="sub-category-item-head">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-success">T</button>
              <button type="button" class="btn btn-outline-danger">F</button>
              </div>
            <span class="title_text">Lorem </span>
          </div>
        </li>
        </ul>
    </div>
    <div class="add_next_button exam_questinn_footer">
      <ul>
        <li><a href="JavaScript:Void(0);">Back</a></li>
        <li><a href="JavaScript:Void(0);" class="middle"><span><img src="./assets/img/menu_footer.png" alt=""></span></a></li>
        <li><a href="JavaScript:Void(0);">Next</a></li>
      </ul>
    </div>
  </div>



</ion-content>
