<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->



<ion-content>

  <!-- start of home page -->
  

    <div class="app-preloader">
      <div class="app-loader-block">
        <div class="pre-loader-logo">
          <img src="./assets/img/logo.png" alt="">
        </div>
       <div class="app-loader">Loading...</div>
      </div>
   </div>
   
<div class="app-container align-items-center">
  <div id="home_slider_text" class="carousel slide" data-ride="carousel">	
    <div class="carousel-inner">
      <div class="carousel-item active orange">
        <div class="slider_item_text">
          <h5>Residency/Diploma Self-Help Aid</h5>
          <ul>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span">First one of its kinds</span> </li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span">Create Your own schedule</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span">Test your preparation</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span">Compare with your peers</span> </li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span">Improve yourself</span></li>
          </ul>
        </div>
      </div>
      <div class="carousel-item orange_dark">
        <div class="slider_item_text">
          <h5>Notes</h5>
          <ul>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">Cover all bases</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">Systemically orgranized</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">Updated reference from textbooks</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">Star important topics</span></li>
          </ul>
        </div>
      </div>
      <div class="carousel-item sky_blue">
        <div class="slider_item_text">
          <h5>Self - Assessment</h5>
          <ul>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span">Choose your topic(s)</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">Create your exam</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">Revise repeat</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span"> Check your programs or just try our</span></li>
          </ul>
          <h4>Weekly Exam</h4>
        </div>
      </div>
      <div class="carousel-item green">
        <div class="slider_item_text">
          <h5>Flashcards</h5>
          <ul>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span">Want to go the other way around</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span><span class="slider_text_span"> Try our handy flashcards</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">test your memory</span></li>
            <li><span class="check_icon"><i class="fas fa-check"></i></span> <span class="slider_text_span">Then go through the otes</span></li>
          </ul>
          
          <div class="sumit_button">
            <button type="submit" class="submit_btn"  (click)="openLoginPage()">Get started</button>
       
          </div>
        
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#home_slider_text" data-slide-to="0" class="active"></li>
      <li data-target="#home_slider_text" data-slide-to="1"></li>
      <li data-target="#home_slider_text" data-slide-to="2"></li>
      <li data-target="#home_slider_text" data-slide-to="3"></li>
    </ol>
  </div>
  </div>
  



   <!-- end of home page -->

</ion-content>
