<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    </ion-buttons>
   
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>
		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
  </ion-header>

<ion-content>

   

    <div class="app-body" style="margin-top: 0px;">
            <div class="weekly_exam_type">
                <div class="weekly_select_exam">
                    <h3>This Weeks Exam</h3>
                </div>
                <div class="weekly_exam_type_ul">
                    <ul>
                        <li><span><i class="fas fa-check"></i></span>Cardiology</li>
                        <li><span><i class="fas fa-check"></i></span> Pulmonology</li>
                        <li><span><i class="fas fa-check"></i></span> Endocrinology</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Total Questions - 30</li>
                        <li>Time Remaining - 28h, 32m</li>
                        <li>Active From - 09/24/2019</li>
                    </ul>
                </div>
                <div class="sumit_button">
                    <button (click)="openStartExam()" type="submit" class="submit_btn">Attempt</button>
                </div>
            </div>
        </div>


</ion-content>
