<!--<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

  <div class="app-container">
    <div class="app-dashboard">
  
        <div class="app-body margin_top_0">
            <div class="header_title text-center">
                <h4>Forget Password ?</h4>
            </div>
            <div class="sub_category">
                <div class="edit_profile">
                    <div class="man_image">
                        <img class="img-fluid" src="./assets/img/artboard_3.png" alt="">
                    </div>
                    <div class="forget_password_email_title">
                        <h5>Enter your email address below to reset your password</h5>
                    </div>
                    <div class="signup_form login_page_inside">                            
                        <div class="input_div">
                            <label for="">Email</label>
                            <input type="email" class="form-control" placeholder="Email" />                                
                        </div>
                    </div>
                    <div class="sumit_button">
                        <button type="submit" class="big_button" (click) = "forgotPasswordAction()">Send code via email</button>
                    </div>
                </div>

            </div>
        </div>    
    </div>
</div>

</ion-content>
