<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    </ion-buttons>
   
      
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>

<!--
		<ion-buttons slot="secondary">
			  <ion-icon slot="start" name="contact"></ion-icon>
		  </ion-buttons>

		  <ion-buttons slot="primary">
		
			  <ion-icon slot="end" name="help-circle"></ion-icon>
			
		  </ion-buttons>
		-->


		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
	  
	  

	<!--<ion-toolbar color="dark">
	  <ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	  </ion-buttons>
	  <ion-title>
		<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	
	  </ion-title>
	</ion-toolbar>
-->
  </ion-header>

<ion-content>

  <div class="app-body" style="margin-top: 0px;">
				<div class="sub-categories-header">
					<a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
					<h6>Flahcard</h6>
					<h5>Categories</h5>
				</div>

				<div class="sub_category update_notes_list">
					<ul>
						<li>
							<a (click)="openCardView()" href="JavaScript:Void(0);"><span><img src="./assets/img/cardiology.png" /></span>Cardiology</a>
						</li>
						<li>
							<a (click)="openCardView()" href="JavaScript:Void(0);"><span><img src="./assets/img/palmonology.png" /></span>Palmonology</a>
						</li>
						<li>
							<a (click)="openCardView()" href="JavaScript:Void(0);"><span><img src="./assets/img/gastroeuterology.png" /></span>Gastroeuterology</a>
						</li>
						<li>
							<a (click)="openCardView()" href="JavaScript:Void(0);"><span><img src="./assets/img/hepatology.png" /></span>Hepatology</a>
						</li>
						<li>
							<a (click)="openCardView()" href="JavaScript:Void(0);"><span><img src="./assets/img/nephrology.png" /></span>Nephrology</a>
						</li>
						<li>
							<a (click)="openCardView()" href="JavaScript:Void(0);"><span><img src="./assets/img/neurology.png" /></span>Neurology</a>
						</li>
						<li>
							<a (click)="openCardView()" href="JavaScript:Void(0);"><span><img src="./assets/img/hematology.png" /></span>Hematology</a>
						</li>
					</ul>
				</div>
			</div>

		

</ion-content>
