<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->



<ion-content>

  <div class="app-container">
    <div class="app-dashboard">
        <div class="app-body margin_top_0">
            <div class="header_title text-center">
              <h4>Login Console</h4>
            </div>
            <div class="sub_category">
                <div class="edit_profile">

              
                   <div class="man_image">
                        <img class="img-fluid" src="./assets/img/artboard_2.png" alt="">
                    </div>
           

      <form>
                    <div class="signup_form">
                        <div class="input_div">
                            <label for="">Email</label>
                            <input type="email" name="user_name" [(ngModel)]="postData.user_name" class="form-control" placeholder="Email" />
                        </div>
                        <div class="input_div">
                            <label for="">Password</label>
                            <input type="password" name="password" [(ngModel)]="postData.password" class="form-control" placeholder="Password" />
  
                            <span style="float:right"><a href="JavaScript:Void(0);" (click)="openForgotPassowrdPage()">Forgot Password?</a></span>
                        </div>
                    </div>

                    <div class="big_button_div signup sumit_button">
                      <button class="big_button" ion-button block round color="danger" type="submit" (click)="loginAction()">Lets Start</button>
                  </div>
                </form>

                    <p text-center>or</p>


                  <ion-row>
                      <ion-col center text-center>
                          <button class="btn btn-outline-primary btn-lg" ion-fab clear dark-shadow color="facebook" (click)="facebookLogin()">
                        
                            <ion-icon class="fab fa-facebook-f"></ion-icon>
                          </button>
                      </ion-col>
                      <ion-col center text-center>
                          <button class="btn btn-outline-primary btn-lg" ion-fab clear dark-shadow color="google_plus" (click)="googleLogin()">
                              <ion-icon class="fab fa-google"></ion-icon>
                          </button>
                      </ion-col>
                      <ion-col center text-center>
                          <button class="btn btn-outline-primary btn-lg" ion-fab clear dark-shadow color="dark" (click)="openRegisterPage()">
                              <ion-icon class="far fa-envelope"></ion-icon>
                          </button>
                      </ion-col>
                  </ion-row>


            
                 
                </div>

            </div>
        </div>

    </div>
</div>

</ion-content>
