<!--<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

  
<div class="app-container">
  <div class="app-dashboard">
     <!--<header class="app-header">
          <div class="app-menu-bar">
              <i class="fas fa-bars"></i>
          </div>
          <div class="app-header-logo">
              <img class="logo" src="./assets/img/logo.png" alt="">
          </div>
          <div class="header-icon">
              <ul>
                  <li><i class="fas fa-user"></i></li>
                  <li><i class="fas fa-bell"></i></li>
              </ul>
          </div>
      </header>-->
      <div class="app-body margin_top_0">
          <div class="header_title text-center">
              <h4>Registration</h4>
          </div>
          <div class="sub_category">
              <div class="edit_profile">
                  <div class="man_image">
                      <img class="img-fluid" src="./assets/img/artboard_2.png" alt="">
                  </div>
                  <div class="signup_form">
                      <div class="input_div">
                          <label for="">Name</label>
                          <input type="text" class="form-control" [(ngModel)]="userData.name" placeholder="Name" />
                      </div>
                      <div class="input_div">
                          <label for="">Email</label>
                          <input type="email" class="form-control" [(ngModel)]="userData.email" placeholder="Email" />
                      </div>
                      <div class="input_div">
                          <label for="">Address</label>
                          <input type="text" class="form-control" [(ngModel)]="userData.address" placeholder="Address" />
                      </div>
                      <div class="input_div">
                          <label for="">Phone Number</label>
                          <input type="text" class="form-control" [(ngModel)]="userData.mobile" placeholder="01728013015" />
                      </div>
                      <div class="input_div">
                          <label for="">BMDC</label>
                          <input type="text" class="form-control" [(ngModel)]="userData.bmdc_no" placeholder="1" />
                      </div>
                      <div class="input_div">
                          <label for="">Other Phone</label>
                          <input type="text" class="form-control" [(ngModel)]="userData.alt_mobile" placeholder="01728013016" />
                      </div>
                      <div class="input_div">
                          <label for="">Password</label>
                          <input type="password" class="form-control" [(ngModel)]="userData.password" placeholder="Password" />
                      </div>
                  </div>

                  <div class="big_button_div signup sumit_button">
                      <a class="big_button" (click)="submit()">Lets Start</a>
                  </div>
              </div>

          </div>
      </div>

  </div>
</div>

</ion-content>
