<!--
  
<ion-header>
  <ion-toolbar>
    <ion-title>notes</ion-title>
  </ion-toolbar>
</ion-header>

-->

<ion-content>

  <div class="app-container">
        <div class="app-dashboard">
            <header class="app-header">
                <div class="app-menu-bar">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="app-header-logo">
                    <img class="logo" src="./assets/img/logo.png" alt="">
                </div>
                <div class="header-icon">
                    <ul>
                        <li><i class="fas fa-user"></i></li>
                        <li><i class="fas fa-bell"></i></li>
                    </ul>
                </div>
            </header>
            <div class="app-body">
                <div class="sub-categories-header">
                    <a class="prev-btn" href=""><i class="fas fa-arrow-left"></i></a>
                    <h6>Self-Categories</h6>
                    <h5>Categories</h5>
                    <a class="next-btn" href="JavaScript:Void(0);">Next</a>
                </div>

                <div class="sub-categories-body update_sub_category my_contents_notes">
                    <ul class="sub-category-items">
                        <li>
                            <div class="sub-category-item-head my_content_lists">                                
                                <a href="#">
                                    <span class="trash_icon"> <i class="fas fa-trash"></i></span>                                       
                                    <span class="title_icon"><img src="./assets/img/cardiology.png" /></i></span>
                                    <span class="title_text">Cardiology</span>
                                    <span class="date_show">08-09-2019</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sub-category-item-head my_content_lists">
                                <a href="#">
                                   <span class="trash_icon"> <i class="fas fa-trash"></i></span>
                                    <span class="title_icon"><img src="./assets/img/palmonology.png" /></span>
                                    <span class="title_text">Palmonology</span>
                                    <span class="date_show">08-09-2019</i></span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sub-category-item-head my_content_lists">
                                <a href="#">
                                    <span class="trash_icon"> <i class="fas fa-trash"></i></span>
                                    <span class="title_icon"><img src="./assets/img/gastroeuterology.png" /></span>
                                    <span class="title_text">Gastroeuterology</span>
                                    <span class="date_show">08-09-2019</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sub-category-item-head my_content_lists">
                                <a href="#">
                                    <span class="trash_icon"> <i class="fas fa-trash"></i></span>
                                    <span class="title_icon"><img src="./assets/img/hepatology.png" /></span>
                                    <span class="title_text">Hepatology</span>
                                    <span class="date_show">08-09-2019</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sub-category-item-head my_content_lists">
                                <a href="#">
                                    <span class="trash_icon"> <i class="fas fa-trash"></i></span>
                                    <span class="title_icon"><img src="./assets/img/nephrology.png" /></span>
                                    <span class="title_text">Nephrology</span>
                                    <span class="date_show">08-09-2019</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sub-category-item-head my_content_lists">
                                <a href="#">
                                   <span class="trash_icon"> <i class="fas fa-trash"></i></span>
                                    <span class="title_icon"><img src="./assets/img/neurology.png" /></span>
                                    <span class="title_text">Neurology</span>
                                    <span class="date_show">08-09-2019</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sub-category-item-head my_content_lists">
                                <a href="#">
                                    <span class="trash_icon"> <i class="fas fa-trash"></i></span>
                                    <span class="title_icon"><img src="./assets/img/hematology.png" /></span>
                                    <span class="title_text">Hematology</span>
                                    <span class="date_show">08-09-2019</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="add_next_button">
                    <ul>
                        <li><a href="JavaScript:Void(0);">Add More</a></li>
                        <li><a href="JavaScript:Void(0);">Next</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</ion-content>
