<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    </ion-buttons>
   
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>
		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
  </ion-header>

<ion-content>

   

    <div class="app-body" style="margin-top: 0px;">
       
        <div class="text-center mt-2 mb-3">
            <h4>Self Exam Attempted Papers</h4>
          </div>
          <div class="text-center mt-3 mb-3">
            <a class="btn btn-outline-secondary" href="#">Back to result</a>
        </div>
        <div class="accordion" id="accordionAttemptPapers">              
          <div class="card">
            <div class="card-header" id="headingTwo">
                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="mr-1"><i class="far fa-bookmark"></i></span> || <span class="ml-1"> Q1 The kidney</span>
                </a>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAttemptPapers">
                <div class="table-responsive">  
                  <table class="table table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Options</th>
                        <th scope="col">Correct Answer</th>
                        <th scope="col">Selected Answer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1)lie with their hill at the level of the 4th lumber vetebra</td>
                        <td>False</td>
                        <td>N/A</td>
                      </tr>
                      <tr>
                        <td>2)lie with their hill at the level of the 4th lumber vetebra</td>
                        <td>False</td>
                        <td>N/A</td>
                      </tr>
                      <tr>
                        <td>3)lie with their hill at the level of the 4th lumber vetebra</td>
                        <td>False</td>
                        <td>N/A</td>
                      </tr>
                      <tr>
                        <td>1)lie with their hill at the level of the 4th lumber vetebra</td>
                        <td>False</td>
                        <td>N/A</td>
                      </tr>
                      <tr>
                        <td>Attempted</td>
                        <td>Marks1</td>
                        <td>Mark</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-center mb-3 explanation_heading">
                  <h4>Explanation</h4>
                </div>
                <div class="explanation_sec">
                  <ul>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                    <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="mr-2"><i class="far fa-bookmark"></i></span> || <span class="ml-1"> Q2 The kidney</span>
                </a>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAttemptPapers">
              <div class="table-responsive">  
                <table class="table table-bordered">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Options</th>
                      <th scope="col">Correct Answer</th>
                      <th scope="col">Selected Answer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1)lie with their hill at the level of the 4th lumber vetebra</td>
                      <td>False</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>2)lie with their hill at the level of the 4th lumber vetebra</td>
                      <td>False</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>3)lie with their hill at the level of the 4th lumber vetebra</td>
                      <td>False</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>1)lie with their hill at the level of the 4th lumber vetebra</td>
                      <td>False</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>Attempted</td>
                      <td>Marks1</td>
                      <td>Mark</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-center mb-3 explanation_heading">
                <h4>Explanation</h4>
              </div>
              <div class="explanation_sec">
                <ul>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                  <li>lie with their hill at the level of the 4th lumber vetebra</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>


</ion-content>
