<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    </ion-buttons>
   
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>
		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
  </ion-header>

<ion-content>

   

    <div class="app-body" style="margin-top: 0px;">
      <div class="header_title">
        <h4>Leaderboard</h4>
      </div>
     <div class="sub_category">
       <ul>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
         <li>
           <a href="JavaScript:Void(0);"><span><i class="far fa-user"></i></span>User Full Name</a>
         </li>
       </ul>
     </div>
    </div>


</ion-content>
