<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    	</ion-buttons>
      
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>
		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
  </ion-header>

<ion-content>

   

    <div class="app-body" style="margin-top: 0px;">
      <div class="header_title">
        <h4>Leaderboard</h4>
      </div>
     <div class="sub_category">
			<ion-grid>
				<ion-row >
					<ion-col size="auto"><h5>Rank</h5></ion-col>
					<ion-col size="auto"><h5>Name</h5></ion-col>
					<ion-col size="auto"><h5>ID</h5></ion-col>
					<ion-col size="auto"><h5>Exams</h5></ion-col>
					<ion-col size="auto"><h5>Points</h5></ion-col>
				</ion-row>
				<ion-row *ngFor="let item of dataList">
					<ion-col size="auto">{{item.rank}}</ion-col>
					<ion-col size="auto">{{item.name}}</ion-col>
					<ion-col size="auto">{{item.student_id}}</ion-col>
					<ion-col size="auto">{{item.exam_given}}</ion-col>
					<ion-col size="auto">{{item.points}}</ion-col>
				</ion-row>
			</ion-grid>
     </div>
    </div>


</ion-content>
