<ion-header>

	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button autoHide="false"></ion-menu-button>	  
    	</ion-buttons>
      
      <ion-buttons slot="primary">
        <a class="prev-btn" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a>
      </ion-buttons>
		<ion-title>	
			<div class="app-header-logo">
			<img class="logo" src="./assets/img/logo.png" alt="">
		</div>
	</ion-title>
	  </ion-toolbar>
  </ion-header>

<ion-content>

   

    <div class="app-body" style="margin-top: 0px;">
      <div class="header_title">
        <h4>Leaderboard</h4>
      </div>
     <div class="sub_category">
		<ion-content color="light">
			<ion-grid>
				<ion-row>
					<ion-col> rank </ion-col>
					<ion-col> name </ion-col>
					<ion-col> student_id </ion-col>
					<ion-col> exam_given </ion-col>
					<ion-col> points </ion-col>
				</ion-row>
			</ion-grid>
		</ion-content>
     </div>
    </div>


</ion-content>
